@import "tailwindcss";

.task-container {
    height: 540px;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.task-container::-webkit-scrollbar {
    display: none;
}

.taskContainerDesktop {
    height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}